<!-- initial contents -->

<div class="page-header">
	<h1>jokepls</h1>
</div>
	<p class="lead">
		a simple jokes API
	</p>
	</p>You can see it in <a href="https://github.com/LFLachica/jokepls">Github</a>.</p>
	<p>Tickle my funny bone. <a class="btn btn-primary" href="/jokes/random">something random...</a></p> <a class="btn btn-success" href="/jokes">Give me all!</a></p>
</div>
