<!-- initial contents -->
<div id="wrap">
  <div class="container">
	  <div class="page-header">
		  <h1>jokepls</h1>
		</div>
			<p class="lead">
			  a simple jokes API
			</p>
			<p>Quack me up. <a class="btn btn-defaults btn-primary" href="#" role="button">Joke please!</a></p>
		</div>
	</div>
</div>
<div id="footer">
  <div class="container">
	  <p class="text-muted">built using <a href="http://sailsjs.org/">Sails</a> by chief explorer <a href="https://plus.google.com/u/0/103389135698181775932/about">eniarrollachica</a></p>
	</div>
</div>